wheel==0.41.1
setuptools==68.0.0
twine==4.0.2
build==0.10.0

mypy==1.5.0
mypy-extensions==1.0.0
types-setuptools==68.0.0.3
typing_extensions==4.7.1

click==8.1.6
tqdm==4.66.1
buildlackey~=1.1.0
hasiihelper~=0.2.0
