wheel==0.44.0
setuptools==75.1.0
twine==5.1.1
build==1.2.2.post1

mypy==1.12.0
mypy-extensions==1.0.0
types-setuptools==68.2.0.0
typing_extensions==4.8.0

html-testRunner~=1.2.1

click>=8.1.7
tqdm>=4.66.5
buildlackey>=1.6.3
codeallybasic>=1.4.0